<div class='listing-container'>
  <!-- All header contents -->
  <header class="listing-header">
    <a href="<%= listing.url %>" target="_blank"><h1><%= listing.title %></h1></a>
    <div class="listing-information">
      <% const flair = listing.flair_text %>
      <% if(flair === 'SELLING') { %>
        <div class="selling-flair"></div>
      <% } else if(flair === 'BUYING') { %>
        <div class="buying-flair"></div>
      <% } else if(flair === 'TRADING') { %>
        <div class="trading-flair"></div>
      <% } else if(flair === 'STORE') { %>
        <div class="store-flair"></div>
      <% } else if(flair === 'BULK') { %>
        <div class="bulk-flair"></div>
      <% } else if(flair === 'GROUP BUY') { %>
        <div class="gb-flair"></div>
      <% } else if(flair === 'INTEREST CHECK') { %>
        <div class="ic-flair"></div>
      <% } else if(flair === 'ARTISAN') { %>
        <div class="artisan-flair"></div>
      <% } else { %>
        <div class="other-flair"></div>
      <% } %>
      <p class="listing-author">
        <a href="http://reddit.com/user/<%= listing.author %>" target="_blank">u/<%= listing.author %></a>
      </p>
      <p class="date"><%= listing.date %></p>
      <p><%= listing.location %></p>
      <% if(!favorite && user) { %>
        <form action="/listings/<%= listing.page_id %>/favorite" method="POST">
          <button type="submit" class="favorite"><img src="/imgs/star-empty.png" alt="Favorite Star" title="Wanna favorite?"></button>
        </form>
      <% } else if(user) { %>
        <form action="/listings/<%= listing.page_id %>/favorite" method="POST">
          <button type="submit" class="favorite"><img src="/imgs/star.png" alt="Favorite Star" title="Wanna unfavorite?"></button>
        </form>
      <% } %>
    </div>
  </header>

  <!-- All Timestamp Contents -->
   <% if(listing.timestamp !== '') { %>
    <section class="timestamp-display">
      <div class="timestamp-title">
        <h2>Timestamp Gallery</h2>
      </div>

      <div class="timestamp-link">
        <a href="<%= listing.timestamp %>" target="_blank">[TIMESTAMP]</a>
      </div>
    </section>
  <% } %>

  <!-- All listing details -->
  <section class="selftext-display">
    <div class="selftext-title">
      <h2>Listing Details</h2>
    </div>

    <div class="selftext-content">
      <p><%- listing.self_text %></p>
    </div>
  </section>

  <!-- All comments -->
  <% if(user) { %>
    <section class="comments-section">
      <header class="comments-header">
        <p>Comments</p>
      </header>

      <!-- Display input for comments -->
      <form action="/listings/<%= listing.page_id %>/edit/<%= comment.id %>/?_method=PUT" method="POST">
        <label for="comment">Edit your comment</label>
        <textarea id="comment" name="comment" class="comment-input" placeholder="<%= comment.comment %>"></textarea> 
  
        <button type="submit" class="btn message-btn">Message</button>
      </form>
    </section>
  <% } else { %>
    <section class="comments-section">
      <header class="comments-header">
        <p>Comments</p>
      </header>
      <p>You must be logged in to send any comments.</p>
    </section>
  <% } %>

</div>