<header class="listings-title">
  <p><%= filter %></p>
</header>

<form action="/">
  <section class="search-container">
    <div class="searchbar">
      <input type="text" class="listing-search" id="search" name="search" placeholder="Search for an item...">
      <button type="submit" class="btn search-btn">Submit</button>
    </div>

    <div class="toggle-container">
      <input type="checkbox" id="toggle-trade" value="trade">
      <label for="toggle-trade">Include Trade Listings</label>
    </div>
  </section>
</form>


<% listings.forEach(listing => { %>
  <section class="listing-display-container">
    <a href="/listings/<%= listing.page_id %>">
      <h2 class="listings-title"><%= listing.title %></h2>
      <p class="listings-author">u/<%= listing.author %></p>
      <div>
        <p class="listings-locale"><%= listing.location %></p>
      </div>
    </a>
  </section>
<% }) %>