<header class="listings-title">
  <% if(!filter) { %>
    <p>Listings</p>
  <% } else { %>
    <p><%= filter %></p>
  <% } %>
</header>

<form action="/listings/?filter=<%= filter %>" method="POST">
  <section class="search-container">
    <div class="searchbar">
      <input type="text" class="listing-search" id="search" name="search" placeholder="Search for an item...">
      <button type="submit" class="btn search-btn">Submit</button>
    </div>

    <%if(filter !== 'Store') { %>
      <div class="toggle-container">
        <input type="checkbox" id="toggle-trade" name="trade">
        <label for="toggle-trade">Include Trade Listings</label>
      </div>
    <% } else{ %>
      <div class="toggle-container">
        <input type="checkbox" id="toggle-other" name="other">
        <label for="toggle-other">Include All Store Listings</label>
      </div>
    <% } %>%>

  </section>
</form>



<% listings.forEach(listing => { %>
  <section class="listing-display-container">
    <a href="/listings/<%= listing.page_id %>">
      <div>
        <h2 class="listings-title"><%= listing.title %></h2>
        <% const flair = listing.flair_text %>
        <% if(flair === 'SELLING') { %>
          <div class="selling-flair"></div>
        <% } else if(flair === 'BUYING') { %>
          <div class="buying-flair"></div>
        <% } else if(flair === 'TRADING') { %>
          <div class="trading-flair"></div>
        <% } else if(flair === 'STORE') { %>
          <div class="store-flair"></div>
        <% } else if(flair === 'BULK') { %>
          <div class="bulk-flair"></div>
        <% } else if(flair === 'GROUP BUY') { %>
          <div class="gb-flair"></div>
        <% } else if(flair === 'INTEREST CHECK') { %>
          <div class="ic-flair"></div>
        <% } else if(flair === 'ARTISAN') { %>
          <div class="artisan-flair"></div>
        <% } else { %>
          <div class="other-flair"></div>
        <% } %>
      </div>
      <p class="listings-author">u/<%= listing.author %></p>
      <div>
        <p class="listings-locale"><%= functions.timeAgo(listing.created_utc) %></p>
      </div>
      <div>
        <% if(listing.flair_text === 'SELLING' || listing.flair_text === 'BUYING' || listing.flair_text === 'TRADING') { %>
          <p class="listings-locale"><%= listing.location %></p>
        <% } %>
      </div>
    </a>
  </section>
<% }) %>