<ul>
  <li>u/<%= listing.author %></li>
  <li><%= listing.author_ref %></li>
  <li><%= listing.created_utc %></li>
  <li><%= listing.downs %></li>
  <li><%= listing.flair_text %></li>
  <li><%= listing.location %></li>
  <li><%= listing.page_id %></li>
  <li><%= listing.page_name %></li>
  <li><%= listing.self_text %></li>
  <li><%= listing.timestamp %></li>
  <li><%= listing.title %></li>
  <li><%= listing.ups %></li>
  <li><%= listing.upvote_ratio %></li>
  <li><%= listing.url %></li>
</ul>