<ul>
  <li><%= listing.author_ref %></li>
  <li><%= listing.downs %></li>
  <li><%= listing.page_id %></li>
  <li><%= listing.page_name %></li>
  <li><%- listing.self_text %></li>
  <li><%= listing.timestamp %></li>
  <li><%= listing.ups %></li>
  <li><%= listing.upvote_ratio %></li>
</ul>

<div class='listing-container'>
  <header>
    <h1><a href="<%= listing.url %>"><%= listing.title %></a></h1>
    <div class="listing-information">
      <p><%= listing.flair_text %></p>
      <p><a href="http://reddit.com/user/<%= listing.author %>">u/<%= listing.author %></a></p>
      <p><%= listing.created_utc %></p>
      <p><%= listing.location %></p>
    </div>
  </header>


</div>