<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <% if(webpage !== 'Login' && webpage !== 'Sign-Up') { %>
    <%- include('./partials/nav.ejs') %>
  <% } %>

  <% if(errorMsg) { %>
    <div class="error-container">
      <p><%= errorMsg %></p>
    </div>
  <% } %>

  <% if(message) { %>
    <div class="message-container">
      <p><%= message %></p>
    </div>
  <% } %>

  <%- body %>

</body>
</html>