<div class="profile-container">
  
  <%- include('../partials/acct-nav.ejs') %>

  <main class="profile-display">
    <div class="profile-account">
      <p class="profile-title">Comments</p>
    </div>

    <section class="profile-content">
      <% comments.forEach(comment => { %>
        <% comment.listings.map(listing => { %>
          <p class="comment-title">
            <a href="/listings/<%= comment.listings.map(listing => listing.page_id) %>"><%= listing.title %></a>
          </p>
          <p class="comment-author">u/<%= listing.author %></p>
        <% }) %> 
        <p class="profile-comment"><%= user.username %>: <%= comment.comment %></p>
      <% }) %>
    </section>
  </main>
</div>